<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{the_title}}</title>
</head>
<body>

                         <table id="datatable"
                                role="table"
                                aria-label="Textbooks available as Library eBooks">
                            <thead>
                               <tr role="row">
                                  <th
                                      style="width: 100px;"
                                      colspan="1"
                                      rowspan="1"
                                      role="columnheader"
                                      
                                      
                                      aria-label="Department">Department_Section</th>
                                  <th
                                      style="width: 131px;"
                                      colspan="1"
                                      rowspan="1"
                                      role="columnheader"
                                      
                                      aria-label="Professor">Professor</th>
                                  <th
                                      style="width: 496px;"
                                      colspan="1"
                                      rowspan="1"
                                      role="columnheader"
                                    
                                      aria-label="Book Title">Book Title</th>
                               </tr>
                            </thead>
                            <tbody>

    {% block row %}
    
    {% endblock %}
    </tbody>
    </table>
</body>
</html>