<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{the_title}}</title>
</head>
<body>
        <div class="field field-name-body field-type-text-with-summary field-label-hidden">
                <div class="field-items">
                   <div class="field-item even">
                      <div id="datatable_wrapper" class="dataTables_wrapper no-footer">
                         <table id="datatable"
                                class="dataTable no-footer"
                                role="table"
                                aria-label="Textbooks available as Library eBooks">
                            <thead>
                               <tr role="row">
                                  <th class="sorting_asc"
                                      style="width: 100px;"
                                      colspan="1"
                                      rowspan="1"
                                      role="columnheader"
                                      aria-controls="datatable"
                                      aria-sort="ascending"
                                      aria-label="Department: activate to sort column descending">Department_Section</th>
                                  <th class="sorting"
                                      style="width: 131px;"
                                      colspan="1"
                                      rowspan="1"
                                      role="columnheader"
                                      aria-controls="datatable"
                                      aria-label="Professor: activate to sort column ascending">Professor</th>
                                  <th class="sorting"
                                      style="width: 496px;"
                                      colspan="1"
                                      rowspan="1"
                                      role="columnheader"
                                      aria-controls="datatable"
                                      aria-label="Book Title: activate to sort column ascending">Book Title</th>
                               </tr>
                            </thead>
                            <tbody>

    {% block row %}
    
    {% endblock %}
    </tbody>
    </table>
</body>
</html>